<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<thymeleaf th:replace="layouts/head :: head" />
</head>

<body class="app">

	<thymeleaf th:replace="layouts/header :: header" />

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div id='main-container' class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">All Feeds
							<th:block th:if="${categoryName != null}">/ Category / <span
									th:utext="${#strings.capitalize(categoryName)}"></span>
							</th:block>
						</h1>
					</div>
					<div class="col-auto">
						<thymeleaf th:replace="layouts/page-utilities :: page-utilities" />
					</div>
					<!--//col-auto-->
				</div>
				<!--//row-->

				<div id="loader" class="loader d-none"></div>

				<div id="cards-container" th:if="${view} == 'cards'" th:insert="layouts/feeds-cards :: feeds-cards">
				</div>
				<div id="list-items-container" th:if="${view} == 'title-only'"
					th:insert="layouts/feeds-list :: feeds-list"></div>

			</div>
			<!--//container-fluid-->
		</div>
		<!--//app-content-->

		<div id="subscribe-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-title"
			aria-hidden="true" th:insert="layouts/subscribe-modal :: subscribe-modal"></div>
	</div>
	<!--//app-wrapper-->
	<thymeleaf th:replace="layouts/scripts :: scripts" />
	<script type="text/javascript" th:src="@{/assets/js/preloader.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/sidePanel.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/feeds.js}"></script>
</body>

</html>