<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<thymeleaf th:replace="layouts/head :: head" />
</head>

<body class="app">

	<thymeleaf th:replace="layouts/header :: header" />

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">All Feeds</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
									<form class="cards-search-form row gx-1 align-items-center">
										<div class="col-auto">
											<input type="text" id="search-feeds" name="search-feeds"
												class="form-control search-feeds" placeholder="Search">
										</div>
										<div class="col-auto">
											<button type="submit" class="btn app-btn-secondary">Search</button>
										</div>
									</form>

								</div>
								<!--//col-->
								<div class="col-auto">

									<select class="form-select w-auto">
										<option selected value="option-1">Today</option>
										<option value="option-2">This week</option>
										<option value="option-3">This month</option>
										<option value="option-4">All</option>

									</select>
								</div>
								<!--//col-->
								<div class="col-auto">

									<select class="form-select w-auto">
										<option selected value="option-1">Latest</option>
										<option value="option-2">Most relevant</option>
										<option value="option-3">Oldest</option>
										<option value="option-4">Unread</option>
										<option value="option-5">Sort by channel</option>
										<option value="option-6">Sort by category</option>

									</select>
								</div>
								<!--//col-->
							</div>
							<!--//row-->
						</div>
						<!--//page-utilities-->
					</div>
					<!--//col-auto-->
				</div>
				<!--//row-->

				<div class="app-card app-card-feed shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-left">
								<img class="feed-image" src="assets/images/feed-image.jpg" alt="">
							</div>
							<!--//col-->
							<div class="col-12 col-lg-auto text-center text-lg-left">
								<div class="feed-category mb-2"><span class="badge bg-success">tech</span></div>
								<h4 class="feed-title mb-1">Feed title Lorem ipsum dolor sit amet consectetur
									adipisicing elit.</h4>

								<ul class="feed-meta list-inline mb-0">
									<li class="list-inline-item">2 hrs ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">Annette Dittert</li>
								</ul>

							</div>
							<!--//col-->
						</div>
						<!--//row-->
					</div>
					<!--//app-card-header-->
					<div class="app-card-body p-4">
						<div class="feed-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore nobis
							ducimus officiis veniam, quibusdam eum modi quas tempore obcaecati esse mollitia error
							deleniti minus eius dicta ipsa reprehenderit, possimus tempora.</div>
					</div>
					<!--//app-card-body-->
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="#">Read more<svg width="1em" height="1em" viewBox="0 0 16 16"
								class="bi bi-arrow-right ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
							</svg></a>
						<div class="toolbar">
							<div class="animated-icon heart" data-bs-toggle="tooltip" title="like">
								<input type="checkbox" id="heart-1" />
								<label for="heart-1"></label>
							</div>
							<div class="animated-icon bookmark" data-bs-toggle="tooltip" title="read later">
								<input type="checkbox" id="bookmark-1" />
								<label for="bookmark-1"></label>
							</div>
							<div class="animated-icon read" data-bs-toggle="tooltip" title="mark as read">
								<input type="checkbox" id="read-1" />
								<label for="read-1"></label>
							</div>
							<div class="animated-icon star" data-bs-toggle="tooltip" title="favorite">
								<input type="checkbox" id="star-1" />
								<label for="star-1"></label>
							</div>
						</div>
						<!--//card-toolbar-->
					</div>
					<!--//app-card-footer-->
				</div>
				<!--//app-card-->


				<div class="app-card app-card-feed shadow-sm mb-4">
					<div class="app-card-header px-4 py-3">
						<div class="row g-3 align-items-center">
							<div class="col-12 col-lg-auto text-center text-lg-left">
								<img class="feed-image" src="assets/images/feed-image.jpg" alt="">
							</div>
							<!--//col-->
							<div class="col-12 col-lg-auto text-center text-lg-left">
								<div class="feed-category mb-2"><span class="badge bg-success">tech</span></div>
								<h4 class="feed-title mb-1">Feed title Lorem ipsum dolor sit amet consectetur
									adipisicing elit.</h4>

								<ul class="feed-meta list-inline mb-0">
									<li class="list-inline-item">2 hrs ago</li>
									<li class="list-inline-item">|</li>
									<li class="list-inline-item">Annette Dittert</li>
								</ul>

							</div>
							<!--//col-->
						</div>
						<!--//row-->
					</div>
					<!--//app-card-header-->
					<div class="app-card-body p-4">
						<div class="feed-content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore nobis
							ducimus officiis veniam, quibusdam eum modi quas tempore obcaecati esse mollitia error
							deleniti minus eius dicta ipsa reprehenderit, possimus tempora.</div>
					</div>
					<!--//app-card-body-->
					<div class="app-card-footer px-4 py-3">
						<a class="action-link" href="#">Read more<svg width="1em" height="1em" viewBox="0 0 16 16"
								class="bi bi-arrow-right ml-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd"
									d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
							</svg></a>
						<div class="toolbar">
							<div class="animated-icon heart" data-bs-toggle="tooltip" title="like">
								<input type="checkbox" id="heart-2" />
								<label for="heart-2"></label>
							</div>
							<!--//animated-icon-->
							<div class="animated-icon bookmark" data-bs-toggle="tooltip" title="read later">
								<input type="checkbox" id="bookmark-2" />
								<label for="bookmark-2"></label>
							</div>
							<!--//animated-icon-->
							<div class="animated-icon read" data-bs-toggle="tooltip" title="mark as read">
								<input type="checkbox" id="read-2" />
								<label for="read-2"></label>
							</div>
							<!--//animated-icon-->
							<div class="animated-icon star" data-bs-toggle="tooltip" title="favorite">
								<input type="checkbox" id="star-2" />
								<label for="star-2"></label>
							</div>
							<!--//animated-icon-->
						</div>
						<!--//card-toolbar-->
					</div>
					<!--//app-card-footer-->
				</div>
				<!--//app-card-->
			</div>
			<!--//container-fluid-->
		</div>
		<!--//app-content-->

		<!-- Modal -->
		<div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-title"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content rounded-0">
					<div class="modal-body p-4 px-5">


						<div class="main-content text-center">

							<a href="#" class="close-btn" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"><span class="icon-close"></span></span>
							</a>

							<div class="warp-channel-image mb-4">
								<!--<img alt="" class="channel-image"
									src="//storage.googleapis.com/site-assets/UteRlEWI7AuSWrnzo0700y72vv9UnxO7o4qDzhto5xA_icon-16f89735391">
							-->
							</div>
							<form action="#">
								<label>Which channel would you like to subscribe to?</label>
								<p class=" channel-name mb-4"></p>
								<div class="form-group mb-4">
									<input type="text" class="form-control text-center"
										placeholder="Enter a channel url">
								</div>

								<div class="d-flex">
									<div class="mx-auto">
										<a href="#" class="btn app-btn-primary">Search</a>
									</div>
								</div>
							</form>

						</div>

					</div>
				</div>
			</div>
		</div>
		<!--//modal-->
	</div>
	<!--//app-wrapper-->

	<thymeleaf th:replace="layouts/scripts :: scripts" />

</body>

</html>