<!DOCTYPE html>
<html lang="en">

<head>
	<title>Feedify</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Feedify - The best RSS feed reader">
	<link rel="shortcut icon" type="image/svg+xml" href="assets/images/favicon.svg">

	<!-- FontAwesome JS-->
	<script defer src="assets/plugins/fontawesome/js/all.min.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/main.css">

</head>

<body class="app app-reset-password p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 text-center p-5 m-sm-auto">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo" href="#"><img
								class="logo-icon mr-2" src="assets/images/logo.svg" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-4">Password Reset</h2>

					<div class="auth-intro mb-4 text-center">Enter your email address below. We'll email you a link to a
						page where you can easily create a new password.</div>

					<div class="auth-form-container text-left">

						<form class="auth-form resetpass-form">
							<div class="email mb-3">
								<label class="sr-only" for="reg-email">Your Email</label>
								<input id="reg-email" name="reg-email" type="email" class="form-control login-email"
									placeholder="Your Email" required="required">
							</div>
							<!--//form-group-->
							<div class="text-center">
								<button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">Reset
									Password</button>
							</div>
						</form>

						<div class="auth-option text-center pt-5"><a class="app-link" href="login.html">Log in</a> <span
								class="px-2">|</span> <a class="app-link" href="login.html">Sign up</a></div>
					</div>
					<!--//auth-form-container-->


				</div>
				<!--//auth-body-->

			</div>
			<!--//flex-column-->
		</div>
		<!--//auth-main-col-->

	</div>
	<!--//row-->


</body>

</html>