<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="feeds-list"
    th:remove="tag">
    <th:block th:each="feed,i : ${feeds}" th:id="'feed-list-item-' + ${i.index + 1}" class="feeds-list">
        <div class="app-list app-list-feed shadow-sm mb-1">
            <div class="px-4 p-1">
                <div class="row justify-content-between">
                    <h6 class="col feed-title ms-0 me-0 m-auto"><a th:href="@{${feed.link}}" th:target="_blank"
                            th:text="${feed.title}"></a></h6>
                    <!--//col-->
                    <div class="row justify-content-between">
                        <div class="col-auto feed-category m-auto position-relative" style="top: -1.5px"><span
                                class="badge bg-success m-auto" th:text="${feed.channelCategory}">category</span>
                        </div>
                        <!--//col-->
                        <ul class="col text-start feed-meta mt-auto mb-auto list-inline ">
                            <li class="list-inline-item"><a th:href="@{${feed.websiteLink}}"
                                    th:text="${feed.channelTitle}">Spiegel</a></li>
                            <li class="list-inline-item">|</li>
                            <li class="list-inline-item"
                                th:if="${feed.elapsedPublishHoures == 0 && feed.elapsedPublishDays == 0 }"><span
                                    th:text="${feed.elapsedPublishMinutes}"></span> min<th:block
                                    th:if="${feed.elapsedPublishMinutes != 1}">s</th:block> ago</li>
                            <li class="list-inline-item"
                                th:if="${feed.elapsedPublishDays == 0 && feed.elapsedPublishHoures > 0 }"><span
                                    th:text="${feed.elapsedPublishHoures}"></span> hr<th:block
                                    th:if="${feed.elapsedPublishHoures != 1}">s</th:block> ago</li>
                            <li class="list-inline-item" th:if="${feed.elapsedPublishDays > 0 }"><span
                                    th:text="${feed.elapsedPublishDays}"></span> day<th:block
                                    th:if="${feed.elapsedPublishDays != 1}">s</th:block> ago</li>
                        </ul>
                        <!--//col-->


                        <div class="col-auto toolbar position-relative" style="top: -1.5px">
                            <div class="animated-icon heart  ms-0" data-bs-toggle="tooltip" title="like">
                                <input type="checkbox" th:id="'heart-' + ${i.index + 1}" />
                                <label th:for="'heart-' + ${i.index + 1}"></label>
                            </div>
                            <div class="animated-icon bookmark" data-bs-toggle="tooltip" title="read later">
                                <input type="checkbox" th:id="'bookmark-' + ${i.index + 1}" />
                                <label th:for="'bookmark-' + ${i.index + 1}"></label>
                            </div>
                            <div class="animated-icon read" data-bs-toggle="tooltip" title="mark as read">
                                <input type="checkbox" th:id="'read-' + ${i.index + 1}" />
                                <label th:for="'read-' + ${i.index + 1}"></label>
                            </div>
                        </div>
                        <!--//list-item-toolbar-->
                    </div>
                </div>
                <!--//row-->
            </div>
        </div>
        <!--//app-list-->
    </th:block>
</thymeleaf>