<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head" th:remove="tag">
    <title>Feedify</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Feedify - The best RSS Feed Reader">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.svg}">

    <!-- FontAwesome JS-->
    <script defer th:href="@{/assets/plugins/fontawesome/js/all.min.js}"></script>

    <!-- App CSS -->
    <link  rel="stylesheet" th:href="@{/assets/css/main.css}">
    <link  rel="stylesheet" th:href="@{/assets/plugins/fontawesome/css/all.min.css}">
</thymeleaf>