<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="head" th:remove="tag">
    <title>Feedify</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Feedify - The best RSS Feed Reader">
    <link rel="shortcut icon" href="assets/images/favicon.svg">

    <!-- FontAwesome JS-->
    <script defer src="assets/plugins/fontawesome/js/all.min.js"></script>

    <!-- App CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/main.css">
    <link id="theme-style" rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
</thymeleaf>