<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="page-utilities"
    th:remove="tag">
    <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="col-auto">
                <form class="cards-search-form row gx-1 align-items-center">
                    <div class="col-auto">
                        <input type="text" id="search-feeds" name="search-feeds" class="form-control search-feeds"
                            placeholder="Search">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn app-btn-secondary">Search</button>
                    </div>
                </form>

            </div>
            <!--//col-->
            <div class="col-auto">
                <select id="view-select" class="form-select w-auto">
                    <option selected value="cards">View Cards</option>
                    <option value="title-only">View Title Only</option>
                </select>
            </div>
            <!--//col-->
            <div class="col-auto">
                <select id="period-select" class="form-select w-auto">
                    <option value="today">Today</option>
                    <option value="last-seven-days">Last 7 Days</option>
                    <option value="last-thirty-days">Last 30 Days</option>
                    <option selected value="all">All</option>

                </select>
            </div>
            <!--//col-->
            <div class="col-auto">
                <select id="order-select" class="form-select w-auto">
                    <option selected value="latest">Latest</option>
                    <option value="most-relevant">Most Relevant</option>
                    <option value="oldest">Oldest</option>
                    <option value="unread" th:if="${ #request.requestURI != '/recently-read'}">Unread</option>
                    <option value="channel" th:if="${url} != '/channel'">Sort By Channel</option>
                    <option value="all-categories" th:if="${url} != '/category' and ${url} != '/channel'">Sort By
                        Category</option>


                </select>
            </div>
            <!--//col-->
        </div>
        <!--//row-->
    </div>
    <!--//page-utilities-->
</thymeleaf>