<thymeleaf xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="subscribe-modal"
	th:remove="tag">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content rounded-0">
			<div class="modal-body p-4 px-5">

				<div class="main-content text-center">

					<a href="#" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"><span class="icon-close"></span></span>
					</a>

					<div id="warp-channel-image" class="warp-channel-image mb-4">
						<img alt="" class="channel-image" th:src="${channelImage}">

					</div>
					<form id="channel-form" action="#" th:method="POST" th:action="@{/save-channel}"
						th:object="${channelCommand}">
						<label>Which channel would you like to subscribe to?</label>
						<p id="channel-info" class="channel-name m-2 text-danger" th:text="${channelInfo}">
						</p>
						<div id="url-container" class="form-group mb-4">
							<input id="channel-url" type="text" class="form-control" placeholder="Enter a channel url"
								required="required" th:field="*{url}">
						</div>
						<div class="d-flex">
							<div id="button-container" class="mx-auto">
								<button id="search-channel-button" class="btn app-btn-primary"
									onclick="searchChannel(); return false;">Search</button>
							</div>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!--//modal-->
</thymeleaf>