# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ready2Go\Desktop\HTW-SAAR\HTW-SS2021\ProjekArbeit-RSS\RSS-Feed-Reader\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
